body {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  justify-content: center;
  align-items: center;

  width: 37.5rem;
  height: 41.8rem;
}

video {
  display: block;

  padding-top: 3.6rem;
}